html, body {
	height: 100%;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
}

article {
	flex: 2;
	overflow-y: auto;
}

aside {
	flex: 1;
	overflow-y: auto;
}

p.logo {
	font-family: font-family: 'Josefin Sans', serif;
	font-weight: bold;
	font-size: 30px;
	color: red;
}